RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
# !-f - если в запросе не имя файла (с учётом пути) то переправляем на RewriteRule
#RewriteCond %{REQUEST_FILENAME} !-d
# !-d - если в запросе не имя дериктории то переправляем на RewriteRule
# лучше скрыть это правило что бы не показывались папки
RewriteRule (.*) index.php?$1 [L,QSA]
# в $1 находится строка запроса после доменного имени
# мы её взили из .htaccess на рвом уровне
# [L,QSA] писать без пробела.
    # L - последнее правило,
    # QSA - гет параметры запроса должны тоже прикрепляться
#Options -Indexes